

footer{ 
    background-color: var(--cor01);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem; 
}
 
footer img{
    width: 50%; 
}

footer h1{
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin: 1rem;
}

footer p{
    color: #fff;
    margin: 1rem;
}
 
footer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem; 
    gap: 3rem;
}
