:root {
  --cor01: #085e3b;
  --cor02: #00A060;
}
/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} 

nav img{
  width: 100px;
}

nav{
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor01);
  height: 70px;
}

.menu{
  display: flex;
  gap: 3rem;
}

.menu a{
  text-decoration: none; 
  color: #fff;
  display:block;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  padding:0 6px;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1); 
  line-height: 1.8;
  text-transform: uppercase;
} 

.menu a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--cor02);
  content: "";
  border-bottom: 1px solid #038551;
  transform: translate3d(-101%,0,0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

.menu a:hover:after {
  transform: translate3d(0,0,0);
}

.mobilie{
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .menu{
    display: none;
    visibility: hidden;
  }

  .mobilie{
    visibility: visible;
    display: flex;
  }

 .mobilie::before{
  content: '';
  border-top: 1px solid blue;

 }
  .mobilie::after{
    content: '';
    border-bottom: 1px solid red;
  }

} */
:root {
  --cor01: #085e3b;
  --cor02: #00A060;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
} 
body, #menu ul {
  margin: 0px;
  padding: 0px;
}

#logo img{
  width: 100px;
}

#menu a {
  color: #fff;
  text-decoration: none; 
  position: relative;
  overflow: hidden;
  padding:0 6px;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1); 
  line-height: 1.8;
} 
#menu a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--cor02);
  content: "";
  border-bottom: 1px solid #038551;
  transform: translate3d(-101%,0,0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

#menu a:hover:after {
  transform: translate3d(0,0,0);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cor01);
}

#menu {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: var(--cor01);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    text-align: center;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(10, 160, 17, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: #fff;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}